In [11]:
import pandas as pd
pd.set_option('display.max_columns', 100)

The data source: https://www.kaggle.com/aljarah/xAPI-Edu-Data

In [23]:
edu = pd.read_csv("xAPI-Edu-Data.csv")
edu

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,15,16,2,20,Yes,Good,Under-7,M
1,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,20,20,3,25,Yes,Good,Under-7,M
2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,10,7,0,30,No,Bad,Above-7,L
3,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,30,25,5,35,No,Bad,Above-7,L
4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,40,50,12,50,No,Bad,Above-7,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,F,Jordan,Jordan,MiddleSchool,G-08,A,Chemistry,S,Father,5,4,5,8,No,Bad,Above-7,L
476,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,F,Father,50,77,14,28,No,Bad,Under-7,M
477,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,S,Father,55,74,25,29,No,Bad,Under-7,M
478,F,Jordan,Jordan,MiddleSchool,G-08,A,History,F,Father,30,17,14,57,No,Bad,Above-7,L
479,F,Jordan,Jordan,MiddleSchool,G-08,A,History,S,Father,35,14,23,62,No,Bad,Above-7,L

In [72]:
edu.columns

Index(['gender', 'NationalITy', 'PlaceofBirth', 'StageID', 'GradeID',
       'SectionID', 'Topic', 'Semester', 'Relation', 'raisedhands',
       'VisITedResources', 'AnnouncementsView', 'Discussion',
       'ParentAnsweringSurvey', 'ParentschoolSatisfaction',
       'StudentAbsenceDays', 'Class'],
      dtype='object')

In [53]:
contingency = pd.crosstab(edu['ParentAnsweringSurvey'], edu["GradeID"])

In [73]:
contingency

GradeID,G-02,G-04,G-05,G-06,G-07,G-08,G-09,G-10,G-11,G-12
ParentAnsweringSurvey,,,,,,,,,,
No,74,25,3,16,40,39,1,1,5,6
Yes,73,23,0,16,61,77,4,3,8,5

In [31]:
edu[["GradeID", 'ParentAnsweringSurvey']]

    GradeID ParentAnsweringSurvey
0      G-04                   Yes
1      G-04                   Yes
2      G-04                    No
3      G-04                    No
4      G-04                    No
..      ...                   ...
475    G-08                    No
476    G-08                    No
477    G-08                    No
478    G-08                    No
479    G-08                    No

[480 rows x 2 columns]

In [34]:
import scipy.stats as stats

In [55]:
observed_values = contingency.values

In [56]:
observed_values

array([[74, 25,  3, 16, 40, 39,  1,  1,  5,  6],
       [73, 23,  0, 16, 61, 77,  4,  3,  8,  5]], dtype=int64)

In [57]:
val = stats.chi2_contingency(contingency)

In [58]:
val

(16.24174256088471,
 0.06200179555553843,
 9,
 array([[64.3125, 21.    ,  1.3125, 14.    , 44.1875, 50.75  ,  2.1875,
          1.75  ,  5.6875,  4.8125],
        [82.6875, 27.    ,  1.6875, 18.    , 56.8125, 65.25  ,  2.8125,
          2.25  ,  7.3125,  6.1875]]))

In [59]:
expected_values = val[3]

In [60]:
expected_values

array([[64.3125, 21.    ,  1.3125, 14.    , 44.1875, 50.75  ,  2.1875,
         1.75  ,  5.6875,  4.8125],
       [82.6875, 27.    ,  1.6875, 18.    , 56.8125, 65.25  ,  2.8125,
         2.25  ,  7.3125,  6.1875]])

In [61]:
n_rows = 2
n_cols = 10
dof = (n_rows-1)*(n_cols-1)
alpha = 0.05

In [62]:
from scipy.stats import chi2
chi_squared = sum([(obs-exp)**2./exp for obs, exp in zip(observed_values, expected_values)])

In [63]:
chi_squared

array([2.59421229, 1.35449735, 3.85714286, 0.50793651, 0.70548483,
       4.83634373, 1.14603175, 0.57142857, 0.14774115, 0.52092352])

In [68]:
chi_squared_stat = sum(chi_squared)

In [69]:
chi_squared_stat

16.241742560884706

In [51]:
critical_values = chi2.ppf(q = 1-alpha, df = dof)

In [52]:
critical_values

16.918977604620448

In [71]:
p_value = 1-chi2.cdf(x=chi_squared_stat, df = dof)
p_value

0.06200179555553864

If the p_value is less than alpha only then we can reject the null hypothesis.